.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newnav {
  background: linear-gradient(
    180deg,
    rgba(12, 169, 247, 1) 0%,
    rgba(173, 200, 247, 0.767) 90%,
    rgba(173, 200, 247, 0.10127801120448177) 100%
  ) !important;
  box-shadow: 0px 5px 5px 0px rgba(87, 87, 87, 0.233) !important;
}
.bg-theme {
  background-color: #adc8f7;
}
.Menuactive {
  background-color: #adc8f7;
  color: #414040;
  border-radius: 10px;
}

.cover {
  width: 100%;
  height: 70vh;
  background-image: url('https://pbs.twimg.com/media/GjXBiZZbsAAd3mS?format=jpg&name=4096x4096'); /* เปลี่ยนเป็น URL รูป cover ที่ต้องการ */
  background-size: cover;
  background-position: center;
  position: relative;
}

/* รูปโปรไฟล์ */
.profile-pic {
  position: absolute;
  bottom: -130px;
  left: 30px;
}

/* ส่วนข้อมูลโปรไฟล์ */
.profile-info {
  padding: 90px 30px 20px 30px;
  margin-bottom: 20px;
  margin-top: -50px;
}
@media only screen and (max-width: 700px){
  .profile-info {
    padding: 90px 30px 20px 30px;
    margin-bottom: 20px;
    margin-top: 80px;
  }
}

.profile-info h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-info p {
  color: #65676b;
}

/* ส่วนเนื้อหาหลัก */
.content {
  padding: 20px 30px;
}