.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #034ebe;
  text-decoration: none;
}

.theme-core {
  color: #0ca9f7 !important;
}

.icon-core {
  background-color: #0ca9f7 !important;
  color: #fff;
}

.colorpink {
  color: #fa96f5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newnav {
  background: linear-gradient(
    180deg,
    rgba(12, 169, 247, 1) 0%,
    rgba(86, 145, 247, 0.856) 60%,
    rgba(173, 200, 247, 0.312) 90%,
    rgba(173, 200, 247, 0.10127801120448177) 100%
  ) !important;
  box-shadow: 0px 5px 5px 0px rgba(87, 87, 87, 0.233) !important;
}
.bg-theme {
  background-color: #adc8f7;
}
.Menuactive {
  background-color: #adc8f7 !important;
  color: #414040 !important;
  border-radius: 10px !important;
}
.spot {
  min-width: 100% !important;
}

.cover {
  width: 100%;
  height: 75vh;
  background-image: url("https://d3hhrps04devi8.cloudfront.net/nmstory/nm_pcbg.jpg"); /* เปลี่ยนเป็น URL รูป cover ที่ต้องการ */
  background-size: cover;
  background-position: center;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .cover {
    width: 100%;
    height: 60vh;
    background-image: url("https://d3hhrps04devi8.cloudfront.net/nmstory/nm_mobilebg.jpg"); /* เปลี่ยนเป็น URL รูป cover ที่ต้องการ */
    background-size: cover;
    background-position: center;
    position: relative;
  }
}
@media only screen and (max-width: 1000px) {
  .spot {
    width: 40vw !important;
  }
}

/* รูปโปรไฟล์ */
.profile-pic {
  position: absolute;
  bottom: -130px;
  left: 30px;
}

/* ส่วนข้อมูลโปรไฟล์ */
.profile-info {
  padding: 90px 30px 20px 30px;
  margin-bottom: 20px;
  margin-top: -70px;
}
.prof {
  width: 75% !important;
}
@media only screen and (max-width: 780px) {
  .profile-info {
    padding: 90px 30px 20px 30px;
    margin-bottom: 20px;
    margin-top: 80px;
  }
  .prof {
    width: 65% !important;
  }
  .content {
    padding: 8px 10px !important;
  }
  .spot {
    min-width: 86vw !important;
  }
}
@media only screen and (max-width: 630px) {
  .profile-info {
    padding: 90px 30px 20px 30px;
    margin-bottom: 20px;
    margin-top: 80px;
  }
  .prof {
    width: 65% !important;
  }
  .content {
    padding: 8px 10px !important;
  }
  .spot {
    min-width: 100% !important;
  }
}

.profile-info h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-info p {
  color: #65676b;
}

/* ส่วนเนื้อหาหลัก */
.content {
  padding: 20px 30px;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.MuiListItemText-secondary {
  color: #65676b !important;
}
ul {
  max-width: 100% !important;
}
.MuiCard-root,
blockquote,
iframe {
  border-radius: 15px !important;
}

.link {
  cursor: pointer !important;
}
.MuiButton-root {
  border-radius: 15px !important;
}

.newssam {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.MuiChip-filled > .MuiChip-label {
  color: #fff;
}

.bgSelectedquiz {
  background-color: #b7e2f8 !important;
}

.shake {
  animation: shake 0.7s cubic-bezier(0.215, 0.81, 0.365, 0.89) both;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);
  }
}

.swal2-container {
  z-index: 2147483647 !important;
  width: 100vw !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nextText {
  animation: blink 2.2s ease infinite;
}

.fade {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease, visibility 0s linear 300ms;
}

.fade.is-shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease, visibility 0s;
}

.tweetx {
  overflow-y: auto !important;
}

.errorpage {
  background: linear-gradient(270deg, #034ebe, #f696f2, rgb(86, 145, 247));
  background-size: 600% 600%;
  animation: gradientShift 20s ease infinite;
}
.preloadbg {
  background: linear-gradient(135deg, rgb(166, 3, 139), rgb(86, 145, 247));
  background-size: 600% 600%;
  animation: gradientShift 4s ease infinite;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#blockwhenland {
  display: none !important;
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  #blockwhenland {
    display: grid !important;
    position: fixed;
    z-index: 8000;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background: linear-gradient(270deg, #034ebe, #f696f2, rgb(86, 145, 247));
    background-size: 600% 600%;
    animation: gradientShift 20s ease infinite;
  }
}
