body {
  margin: 0;
  font-family: "Mitr", "Shippori Antique";
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  -moz-osx-font-smoothing: grayscale;
  background-color: #adc8f7;
}

.iconweb {
  font-family: "Knewave" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconwebnonsize {
  font-family: "Knewave" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Sriracha", "Shippori Antique";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
